.scopes  {.box; .margin-t; .grid12; }
.scopes .scopes-list {.margin-t; .grid7;}
.scopes .scopes-list .scope {.tag; margin-left:10px; margin-bottom:10px; }
.scopes .scopes-list .scope:first-child{margin-left:0;}
.add-scope {.grid3;}
.submit-add-scope {.grid2; .margin-l}

.sidebar {.grid4; .margin-t;}

.data-base {.grid12;}
.data-base .error {margin-bottom:10px;}
.data-base .content {.box;}
.data-base .campos {.margin-v;}
.data-base .campo label {.grid3; line-height: 28px;}
.data-base .campo input {.grid9; .margin-l}
.data-base .salvar {background: @green; font-size: 0.8em; float:right; .margin-t}

.sidebar-shortcuts a {.box; .grid12; .margin-t; font-size:1.2em; font-weight: 400;}
.sidebar-shortcuts a:hover {background: @peachy;border-color: #fff;}

.routes {.grid8; .margin-l;.margin-t; padding:0;}
.add-route {.bt-green; .margin; .fright; margin-right:0; }
.route-controller {.bt; .grid12}