section.about {background: #d5d5d5; padding:50px;}
if($this->browser == "Chrome"):
	section.about {background: <?php echo $this->cor; ?>;}
end
section.about p@eq(max width 400) {font-size:12px; color:#f00;}