<?php echo $this->doctype ?>

<html lang="<?php echo $this->lang ?>">
	<head>
		<title><?php echo $this->title ?></title>
		<?php foreach ($this->getMetas() as $meta): ?>
		
		<?php echo $meta ?>
		<?php endforeach ?>

		<?php foreach ($this->getLinks() as $link): ?>
		
		<?php echo $link ?>
		<?php endforeach ?>


		<script>
			var path_base = "<?php echo path_base ?>";
			var magic_scope = "<?php echo scope ?>";
			var magic_language = "<?php echo magic_language ?>";
		</script>
		
		<?php foreach ($this->getScripts("top") as $script): ?>
		
		<?php echo $script ?>
		<?php endforeach ?>

	</head>

	<body id="<?php echo $this->bodyId ?>" class="<?php echo $this->bodyClass ?>">

		<div id="<?php echo $this->holderId ?>" class='<?php echo $this->holderClass ?>'>

			<?php echo $conteudo ?>

		</div>

		<?php foreach ($this->getScripts("bottom") as $script): ?>
		
		<?php echo $script ?>
		<?php endforeach ?>

	</body>

</html>