@c-paleta-1: #8b8c7e;
@c-paleta-2: #a6a07d;
@c-paleta-3: #c0b990;
@c-paleta-4: #dad3bc;
@c-paleta-5: #f2ebd2;
@c-yellow: #fcc961;
.colunagrid(@n-colunas: 1,@margin: @t-margingrid){
			width: ((@t-coluna * @n-colunas) + ((@n-colunas - 1) * @margin)) !important;
			float: left;
			display: block;
		}
@colunaWidth: 0px;
.colunagridWidth@n-colunas: 1,@margin: @t-margingrid){
      @colunaWidth: ((@t-coluna * @n-colunas) + ((@n-colunas - 1) * @margin)) + px;
    }

.talign-left {text-align: left !important;}
.talign-center {text-align: center;}
.t-align-right {text-align: right;}
.italic {font-family: italic}
.alert {color: #420;}
.clear.espaco {height:15px;}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
#all-site {padding-bottom:100px !important;}
nav#menu .inativo li{.opacity}
nav#menu .txt:before {float:left;}
nav#menu .inativo:hover li{border-bottom: none; padding-top:36px; cursor: default;}
header {margin-bottom: 50px;}
header > .grid12 {height:120px;}
header > .grid12 > .grid4 h1 {line-height: 120px;}
header > .grid12 > .fright h2, {margin-top:40px;}
button {border:none; background: transparent;  cursor: pointer;}
#lightbox {background: rgba(0,0,0,0.5); width:100%;height: 100%; position: fixed; top:0; left:0; display: none;}
#lightbox .frame {margin-top:20px; background: rgba(255,255,255,0.95)}
#lightbox .content {width: ((@t-coluna * 9) + (8 * @t-margingrid)) + 20px; .centro; margin-top:10px;}
#lightbox .content .viewport { .grid9; .centro; height: 600px; overflow: hidden; position: relative; }
#lightbox .content .overview { list-style: none; position: absolute; left: 0; top: 0; }
#lightbox .content .thumb .end,
#lightbox .content .thumb { background-color: @c-orange + #111; .border-radius(5px); width:9px; margin-left: 1px; }
#lightbox .content .scrollbar { position: relative; float: right; width: 11px;  }
#lightbox .content .track { background-color: @c-gray-2;.border-radius(5px); height: 100%; width:13px; position: relative; padding: 0 1px; }
#lightbox .content .thumb { height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#lightbox .content .thumb .end { overflow: hidden; height: 5px; width: 9px; }
#lightbox .content .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#topo h1 {float: left;color:@c-black;font-family: 'PT Serif', serif;font-size: 21px;letter-spacing:-1px; line-height: 27px;}
#topo .logo {margin-top:30px;}

.small {font-size:10px;}
a {text-decoration: none;}

input,.campo_form,select,textarea,form [class*='cke_editor'] {width: 100%; background: #fff; border-radius: 0; margin:10px 0 0 !important; color: @c-gray-4;}
.input {height:40px;}
.input [class *= bt] {margin:4px 0; float:right;}
.campo_form {margin-top:14px;}
textarea{background: #efefef;.border-radius;height:200px;outline: none;font: 16px 'regular';padding: 0px 6px;width: 908px;max-width: 908px;}

#login input[type=submit] {.border-radius; background: @c-paleta-3; box-shadow: inset 0 0  3px @c-gray-2; color: @c-white;border:solid 1px @c-paleta-2; cursor:pointer;}
#login input[type=submit] {margin-top:10px; cursor: pointer;}
input[type=submit] {.bt-lp;}
.inputFile {
  position: relative;
  .grid5;
}
.inputFile .bt{
   .bt-lp;
   width:160px;
   font-size: 14px;
   padding:0;
   height:30px;
   position:relative;
   line-height: 30px;
   text-align: center;
   display: block;
   text-transform: uppercase;

   cursor: pointer;
}
.inputFile .name {
  max-width: 250px;
  
  margin:9px 5px;
  float:left;
  
}

.inputFile input{
   width:160px;
   height:40px;
   position:absolute;
   left:0;
   top:0;
   margin:0 !important;
   cursor:pointer;
   background: none;
   display: inherit;
   width: inherit;
   height: inherit;
   opacity: 0;
}

.carregando {font-size:22px; display: none; position: fixed; top:0px; left: 50%; .colunagridWidth(1.5); margin-left: @colunaWidth*-1;}

.ui-state-hover {background: @c-gray-2; border:none; .box-shadow;}
  .ui-state-hover.ui-state-active {background: @c-paleta-5; border:none; .box-shadow; color:@c-paleta-1;}

 .cke_contents p {margin-top:0 !important;} 
 .cke_contents h1 {color:red !important;} 

 nav a {position: relative;}
header {margin-bottom: 40px; clear:both;}
footer {position: absolute; bottom: 0px; height: 65px; width:100%; background: transparent;}
footer span {width:100%; text-align: center; display: block;}
footer .developer {margin:5px auto;}

ul.filtro li {float:left; margin-left:5px; padding-right:5px; border-right: 1px solid @c-gray-1;} ;
ul.filtro > li:last-child { padding-right:0; border:none;}

em.yellow{.enfase (@c-yellow);}
em.brown{.enfase (@c-paleta-2);}
