@charset "utf-8";

/* ----- RESET ----- */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body{line-height: 1;}ol, ul{list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse; border-spacing: 0;}

/* ----- FONTES IMPORTADAS ----- */
	@font-face {
	    font-family: 'bold';
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_bd-webfont.eot');
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_bd-webfont.woff') format('woff'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_bd-webfont.ttf') format('truetype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_bd-webfont.svg#bold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'regular';
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_rg-webfont.eot');
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_rg-webfont.woff') format('woff'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_rg-webfont.ttf') format('truetype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_rg-webfont.svg#regular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'italic';
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_it-webfont.eot');
	    src: url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_it-webfont.woff') format('woff'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_it-webfont.ttf') format('truetype'),
	         url('http://localhost/pessoal/site/public/views/gabriel/css/font/aller_it-webfont.svg#italic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

/* ----- PADRÃ•ES GERAIS----- */

	/* Universal */

	 *{
	 	-webkit-box-sizing: border-box;
	 	-moz-box-sizing: border-box;
	 	box-sizing: border-box;
	 }

	/* Cores */
		@c-black: #242424;
		@c-white: #fff;
		@bg-site: #f6f2e2;

		

		@c-gray-1: #8b8c7e;
		@c-gray-2: #efefef;
		@c-gray-3: #c2c2c2;
		@c-gray-4: #515151;
		@c-detail: #fbe9e7;
		@c-menu: #a6a07d;

		@flat-green: #2fbb41;
		@flat-blue: #5c60d3;
		@flat-pink: #e97cd5;
		@flat-red: #e95755;



	/* Outros */

		.border-radius (@radius: 4px){
			-webkit-border-radius: @radius;
			-moz-border-radius: @radius;
			border-radius: @radius;
		}

		.transition (@arguments){
			transition: @arguments;
			-moz-transition: @arguments;
			-webkit-transition: @arguments;
			-o-transition: @arguments;
		}

		.transform (@arguments){
			transform: @arguments;
			-moz-transform: @arguments;
			-webkit-transform: @arguments;
			-o-transform: @arguments;
		}


		.box-shadow (@shadow: 1px 1px 6px rgba(0,0,0,0.11)){
			box-shadow: @arguments;
			-webkit-box-shadow: @arguments;
			-moz-box-shadow: @arguments;
		}

		.box-orient (@alinhamento: horizontal){
			display: -webkit-box;
  			-webkit-box-orient: @alinhamento;

  			display: -moz-box;
  			-moz-box-orient: @alinhamento;

  			display: box;
  			box-orient: @alinhamento;

		}

		.box-flex (@flex: 1){
			-webkit-box-flex: @flex;
  			-moz-box-flex: @flex;
  			box-flex: @flex;
		}

/* PADRÃ•ES DO SITE */
	body,html {height: 100%;}
	body{background: @bg-site; font:14px 'regular';color:@c-gray-1;}
	#all-site{width: 100%;margin:0px auto; min-height: 100%; position: relative;}
	::selection {background: @flat-red;  color:@c-white; padding:10px; display: block; width:100%; }


	/* PadrÃµes */
	.clear{clear:both;}
	.fleft{float: left;}
	.fright{float: right;}


/* Estilos */

	/* Grid Fluido*/
		/* t -> tamanho // n -> nÃºmero */
		@t-totalgrid: 100%;
		@t-margingrid: 2%;
		@n-colunasgrid: 12;
		@t-coluna: (@t-totalgrid - ((@n-colunasgrid - 1) * @t-margingrid)) / @n-colunasgrid;

		.fluid-column-grid(@n-colunas: 1){
			width: ((@t-coluna * @n-colunas) + ((@n-colunas - 1) * @t-margingrid));
			float: left;
			display: block;
		}
		.fluid-grid{width: @t-totalgrid;}
		@default-horizontal-margin: @t-margingrid;
		@default-vertical-margin: @t-margingrid;
		.margin-r{margin-right: @default-horizontal-margin;}
		.margin-l{margin-left: @default-horizontal-margin;}
		.margin-t{margin-top: @default-vertical-margin;}
		.margin-b{margin-bottom: @default-vertical-margin;}
		.margin-v{.margin-t;.margin-b; }
		.margin-h{.margin-l;.margin-r; }
		.margin  {.margin-v; .margin-h; }
	
		@default-horizontal-padding: @t-margingrid;
		@default-vertical-padding: 15px;
		.padding-r{padding-right: @default-horizontal-padding;}
		.padding-l{padding-left: @default-horizontal-padding;}
		.padding-t{padding-top: @default-vertical-padding;}
		.padding-b{padding-bottom: @default-vertical-padding;}
		.padding-v{.padding-t;.padding-b; }
		.padding-h{.padding-l;.padding-r; }
		.padding  {.padding-v; .padding-h; }

		.fluid-grid1{.fluid-column-grid;}
		.fluid-grid2{.fluid-column-grid(2);}
		.fluid-grid3{.fluid-column-grid(3);}
		.fluid-grid4{.fluid-column-grid(4);}
		.fluid-grid5{.fluid-column-grid(5);}
		.fluid-grid6{.fluid-column-grid(6);}
		.fluid-grid7{.fluid-column-grid(7);}
		.fluid-grid8{.fluid-column-grid(8);}
		.fluid-grid9{.fluid-column-grid(9);}
		.fluid-grid10{.fluid-column-grid(10);}
		.fluid-grid11{.fluid-column-grid(11);}
		.fluid-grid12{.fluid-column-grid(12);}
		
		body.max_width_600 .fluid-grid3 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid4 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid5 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid6 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid7 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid8 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid9 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid10 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid11 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid12 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid1 {.fluid-column-grid(12); margin:0;} 
		body.max_width_600 .fluid-grid2 {.fluid-column-grid(12); margin:0;} 
	/* Grid 940*/
		@fixed-t-totalgrid: 940px;		
		@fixed-t-margingrid: 20px;
		@fixed-n-colunasgrid: 12;
		@fixed-t-coluna: (@fixed-t-totalgrid - ((@fixed-n-colunasgrid - 1) * @fixed-t-margingrid)) / @fixed-n-colunasgrid;

		.colunagrid(@fixed-n-colunas: 1){
			width: ((@fixed-t-coluna * @fixed-n-colunas) + ((@fixed-n-colunas - 1) * @fixed-t-margingrid));
			float: left;
			display: block;
		}

		.grid1{.colunagrid;}
		.grid2{.colunagrid(2);}
		.grid3{.colunagrid(3);}
		.grid4{.colunagrid(4);}
		.grid5{.colunagrid(5);}
		.grid6{.colunagrid(6);}
		.grid7{.colunagrid(7);}
		.grid8{.colunagrid(8);}
		.grid9{.colunagrid(9);}
		.grid10{.colunagrid(10);}
		.grid11{.colunagrid(11);}
		.grid12{.colunagrid(12);}

		.center {display: block; margin: 0 auto; float:none;}
		.fleft{float: left;}
		.fright{float: right;}
		.inline-block {display: inline-block;}

		
	/* Padrões de box */
	
	.white-box {background: #f5f5f5; box-shadow: 0 0 5px #dedede; .border-radius() }
	.blue-box  {background: @flat-blue; color:@c-white; }
	.pink-box  {background: @flat-pink; color:@c-white; }
	.rose-box  {background: @c-detail; color:@c-gray-4 }
	.red-box  {background: @flat-red; color:@c-white; }
	.green-box  {background: @flat-green; color:@c-white; }
	.dark-gray-box {background: @c-gray-4; color:@c-gray-2;	}
	/* Navigaton */

		nav ul.nav {.fluid-grid12; height: 60px; .dark-gray-box;}
		nav ul.nav {.fluid-grid12; height: 60px; .dark-gray-box;}
		
		nav ul.nav.max_width_800 li a{font-size:10px;}
		nav ul.nav.max_width_800 {height:60px; position: relative;}
		nav ul.nav.max_width_800 li {.fluid-grid4; }
		nav ul.nav.max_width_800 li a {height:30px; line-height: 30px;}
		nav ul.nav.max_width_800 li:nth-child(4) {margin:0; }
		nav ul.nav.max_width_800 li ul {width:300%;}
		nav ul.nav.max_width_800 li ul li{.margin-l}
		nav ul.nav.max_width_800 li ul li:nth-child(1){margin-left:0;}
		nav ul.nav.max_width_800 li ul a {text-align: center}


		nav ul.nav > li {float:left; position: relative;.fluid-grid2; .margin-l}
		nav ul.nav > li:first-child {margin-left:0;}
		nav ul.nav > li > a {width:100%; float:none;text-align: center; height:60px; line-height: 60px; display: inline-block;.dark-gray-box; text-decoration: none; font-style: normal; font-family: 'regular'; .transition(all 0.2s)}
		nav ul.nav > li:hover > a {.red-box;}
		nav ul.nav > li > div.submenu {padding:5px; position: relative; visibility:hidden; width:120%; margin-left:-10%;  opacity: 0; -webkit-transition: visibility 0.4s, opacity 0.2s;}
		nav ul.nav > li > div.submenu > .triangle {position: absolute; .red-box; width:20px; height: 20px; left:50%; margin-left:-10px; top:0px;.transform(rotate(45deg)); .box-shadow(0 0 5px #dbb)}
		nav ul.nav > li > div.submenu ul {position: absolute;left:0;top:100%; .red-box; width:100%; .border-radius(5px); padding:10px;}
		nav ul.nav > li:hover > div.submenu {visibility: visible; opacity: 1;}
		nav ul.nav > li > div.submenu ul > li > a {padding:0 10px; height:40px; line-height: 40px; display: inline-block;.red-box; text-decoration: none; font-style: normal; font-family: 'regular';width: 100%}
		nav ul.nav > li > div.submenu ul > li:hover > a {.rose-box}

	/* Elementos Textuais */
		/* classes auxiliares */
			.talign-center {text-align: center;}
		/* Nativos */
			.unselectable {
				user-select:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;-khtml-user-select:none;-webkit-touch-callout:none;
			}
			h1.logo {font-family: verdana;color:#000; .white-box; .padding; display: inline-block; clear:both; .border-radius(0 0 5px 5px)}

			h1{font:24px 'bold'; }
			h2{font:18px 'bold'; }
			h3{font:16px 'regular'; }
			hr {width: 100%; height: 2px; .dark-gray-box; display: block}
			strong{font-family: 'bold';}
			hr{width: 100%;height: 1px; background: @c-white;}
			p{line-height: 22px; letter-spacing: 0.09em; font-family: verdana;	font-size:12px;	}
			big {font-size:150%;}
			small {font-size:75%;}
			em {letter-spacing: 0.2em; background: @flat-green; color:@c-white; padding:3px;}
			i {font-style: italic}
			b {font-weight: bold}
			strong {font-weight: bold;}
			blockquote {line-height: 24px; font-size:15px; .padding; color:rgba(0,0,0,0.6) !important; text-shadow:1px 0 0 rgba(255,255,255,0.3); background: @c-detail;}
			blockquote:before,blockquote:after {content: "\f10d";font-family: 'FontAwesome'; font-size:120%; display: inline-block; margin-right: 4px; }
			blockquote:after {content: "\f10e";margin-left: 4px; }
			
			/*#6b2428*/
			a {color:inherit; text-decoration: underline; font-family: italic; letter-spacing: 0.2em;}
			a:focus {background: @flat-red; color:@c-white; outline: none; padding:3px; text-decoration: none;}
			ul.code-snippet xmp{word-wrap:break-word; height: 100%; width:100%;}
			
			ul.code-snippet {background: @c-detail;  display: block; text-shadow: 1px 1px 0 rgba(255,255,255,0.2); color:rgba(0,0,0,0.7); letter-spacing: 0.1em; font-family: monospace; line-height: 15px; font-size:10px; padding:10px 10px 10px 40px; position: relative; counter-reset: snippet;}
			ul.code-snippet li {counter-increment: snippet; position: relative; margin-top:0;}
			ul.code-snippet li:before {background: @flat-red; color:#222; content:counter(snippet); position:absolute; left:-40px; height:100%; width:30px; text-align: center;.unselectable;  }
			ul.code-snippet:before {background: @flat-red; color:#222; content: ""; position:absolute; left:0; height:100%; width:30px; top:0;}
			

	/* Forms, buttons, call to actions */
			textarea {min-height: 140px; max-width: 100%;}
			input, textarea, .select {background: @c-detail; border:none; box-shadow: inset 0px 0px 4px darken(@c-detail, 20%); padding:10px 6px 10px 10px; width:100%; font-family: monospace; margin-top:10px; font-size:12px; color:@c-gray-4; position: relative;}
			input.error,textarea.error {padding-right: 40px;}
			div.input {position: relative;;}
			div.input.error:after { position:absolute; content: "\f00d"; font-family: 'FontAwesome'; width:40px; height: 100%;  right:0; top:0; .red-box; text-align: center;}
			div.input.error.noafter:after {content:"";background: none; width:0; height:0;}
			
			div.input .tooltip {position: absolute; top:-100%; width:100%; left:0; .red-box; visibility:hidden; overflow: hidden; -webkit-transition: background 0.3s linear, width 0.2s linear, left 0.2s linear, opacity 0.2s linear, visibility 0.2s linear, color 0.5s linear; padding:5px; font-size:12px; line-height: 24px; font-family: monospace;} 			
			div.input.ok .tooltip {.green-box;}
			div.input.info .tooltip {.rose-box; color:@c-gray-4;}
			div.input.info .tooltip.on {color:@c-gray-4; }
			div.input.info .tooltip.on { background: lighten(@c-detail,2%)}
			div.input .tooltip.off {width:0%; .transition(); left:100%; opacity: 0; color:transparent;}
			div.input .tooltip.on {visibility: visible; width:100%;.transition(); left:0; opacity: 1; color:white;}
			div.input.error .select {.red-box;}
			div.input.ok .select {.green-box;}
			div.input.ok {position: relative;}			
			div.input.ok:after { position:absolute; content: "\f00c"; font-family: 'FontAwesome'; width:40px; height: 100%;  right:0; top:0; .green-box; text-align: center;}
			

			input:before{background: #ff0; width:30px; height: 30px; display: block; content: "@"}			
			input:focus, textarea:focus {outline:none; border:none; box-shadow:0 0 3px darken(@flat-red,30%); background: lighten(@c-detail,2%);}
			input:disabled {background: #ddd;}
			.select {cursor: pointer; position: relative;}
			.select:focus {border: none; outline: none;}
			.select .seta {position: absolute; top:0px; right: 0px; width:33px; height: 33px; background: @flat-red; color:white; line-height: 33px; text-align: center;font-size:17px;}
			.select .opcoes {position: absolute; top:100%; width:100%; background: @c-detail; left:0;border-top:none; .box-shadow(0px 1px 6px rgba(0,0,0,0.11) inset); .border-radius(0 0 3px 3px)}
			.select .opcoes button {width:100%; display: block; border:none; background: @c-detail; box-shadow: none; text-align: left;cursor:pointer; .border-radius(0); margin:0; font-family: monospace; text-shadow:none; color:inherit;}
			.select .opcoes button:last-child {.border-radius(0 0 3px 3px); }
			.select .opcoes button.on {color:@flat-red;}
			.select label {margin: 0; width:100%; cursor: pointer;}
			input[type='submit'] {font-size:13px; background: @flat-red; color:@c-white; cursor: pointer; width:auto; display: inline-block; float:right;}
		/* Buttons */
		button {.blue-box; padding:10px; border:none; box-shadow: 1px 1px 0 1px darken(@flat-blue,30%); cursor: pointer; font-family: 'regular';text-shadow:0 -1px 0 #000; margin:0; float:none;}
		button.small {padding:5px; font-size:11px;}
		
		button.big {padding:13px; font-size:14px;}
		button.danger {.red-box; box-shadow: 1px 1px 0 1px darken(@flat-red,30%); }
		button.info {.rose-box; box-shadow: 1px 1px 0 1px darken(@c-detail,5%); text-shadow:0 1px 0 #fff; font-family: 'bold'; color:#966;}
		button:hover {.dark-gray-box; box-shadow: 1px 1px 0 1px @c-gray-4; text-shadow: none;}
		.btgroup button {margin:-2px; box-shadow: none; border:none; outline: none;}
		.btgroup button:first-child {border-radius: 5px 0 0 5px;}
		.btgroup button:last-child {border-radius: 0 5px 5px 0;}
		.btgroup {float:none;}

		.btgroup.max_width_400 {width: 100%;}
		.btgroup.max_width_400 button{width:100%;}
		.btgroup.max_width_400 button:last-child ,.btgroup.max_width_400 button:first-child {border-radius: 0;}
		


		

/*Table */
	table {float:none; width:100%; background: #f5f5f5; color:@c-gray-4; }
	table, table tr {float:none;}
	table thead tr {.red-box; float:none; display: table-row; color:#222; text-shadow: 1px 1px 0 rgba(255,255,255,0.2);}
	table td {padding:5px 10px; vertical-align: middle;}

	table tbody tr:nth-child(even) {.rose-box; display: table-row; float:none;}
	table tbody tr {border-left:2px solid @c-detail;border-right:2px solid @c-detail;}
	table tbody tr:last-child {border-bottom:2px solid @c-detail;}

		
        
        
    
    

